<!DOCTYPE html>
<html>
  <head>
  
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login</h1>
    <form action="/login" method="get">
      <label for="">Email</label>
      <input type="email" name="email" id="">
      <br>
      <label for="">Contraseña</label>
      <input type="password" name="password" id="">
      <br>
      <input type="submit" value="Login">
    </form>
    <p>¿No estás registrado? <a href="/register">Regístrate aquí</a></p>
  </body>
</html>
