<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Register</h1>

    <form action="/register" method="post">
        <label for="username">Name</label>
        <input name="username" />
        <label for="email">Email</label>
        <input name="email" type="email" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <button type="submit">Register</button>
    </form>
    <p>¿Ya tienes una cuenta? <a href="/">Inicia sesión aquí</a></p>
  </body>