
  <header>
    <div class="navbar">
      <div class="logo">MySocial</div>
            <ul class="links">
                <li> <a href="/home" class="navbar-link">Home</a></li>
                <li><a href="/home/post" class="navbar-link">Post</a></li>
            </ul>
          
            <div class="exit">
                <a href="/logout" class="logout">
                  <i class="fa-solid fa-right-from-bracket"></i>Logout</a>
              </div>
              
    </div>
  </header>