.login-body {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgb(237 209 153 / 80%), rgb(186 147 69 / 80%)), url(../images/background/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}


.login-form {
    width: 90%;
    max-width: 450px;
    height: 57%;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 15px;
}

.login-form h1 {
    font-size: 31px;
    margin-bottom: 60px;
    color: black;
    position: relative;
}

.login-form h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: black;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input {
    background: #aeaeae;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 65px;
}

.input i {
    margin: 15px;
    color: #515254;
}

.input-group {
    height: 280px;
}

.input-group p {
    margin-top: 30px;
}


.btn-login {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: white;
}