.login-body {
    background-color: #f5f5f5;
    font-family: 'Agdasima', sans-serif;
    margin: auto;
    text-align: center;
}

.login-form {
    width: 400px;
    margin: 0 auto;
}

.login-form h1 {
    text-align: center;
    color: black;
    font-size: 28px;
    padding: 70px 0 10px 0 ;
}

.login-form input[type='password'],
.login-form input[type='email'] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-weight: bold;
}

.btn-login {
    width: 100%;
    padding: 10px;
    background-color: #6f42c1;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: white;
}