.body-register {
  width: 100%;
  min-height: 100vh;
  background-image:  url(../images/background/background-register.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}


.register-form {
  width: 90%;
  max-width: 450px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  background: #fff;
  padding: 55px 49px 40px;
  text-align: center;
  border-radius: 15px;
}

.register-form .input-register {
  margin-bottom: 20px;
}

.register-form .errors {
  color: red;
  margin-bottom: 10px;
}

.register-form:not(.form-with-errors) {
  transition: height 0.3s ease;
}

.register-form.form-with-errors {
  height: auto;
}

a{
  text-decoration: none;
}

.register-form h1 {
  font-size: 31px;
    margin-bottom: 60px;
    color: black;
    position: relative;
}

.register-form h1::after{
  content: '';
  width: 30px;
  height: 4px;
  border-radius: 3px;
  background: black;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}

/* .input-register {
  height: 310px;
} */

.input-register p {
  margin-top: 23px;
}

