.body-register {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgb(237 209 153 / 80%), rgb(186 147 69 / 80%)), url(../images/background/background-register.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.register-form {
  width: 90%;
  max-width: 450px;
  height: 81%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  background: #fff;
  padding: 50px 60px 70px;
  text-align: center;
  border-radius: 15px;
}

a{
  text-decoration: none;
}

.register-form h1 {
  font-size: 31px;
    margin-bottom: 60px;
    color: black;
    position: relative;
}

.register-form h1::after{
  content: '';
  width: 30px;
  height: 4px;
  border-radius: 3px;
  background: black;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}

.input-register {
  height: 310px;
}

.input-register p {
  margin-top: 23px;
}